* {
    font-family: 'Museo Sans Cyrl', sans-serif;
  }
  
@import "base/_variables";
@import "base/_mixins";
@import "blocks/promo";
@import 'blocks/header.scss';
@import 'blocks/buttons';

.container {
  max-width: 950px;
  margin: 0 auto;
}







    
    


    
    
   
    
 
            




        



  
     


