* {
    font-family: 'Museo Sans Cyrl', sans-serif;
  }
  
@import "base/_variables";
@import "base/_mixins";
@import "base/_media";
@import "blocks/promo";
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/carousel';

.container {
  max-width: 950px;
  margin: 0 auto;
  @media (max-width:950px){
    max-width: 800px;
  }
  @media (max-width:768px){
    max-width: 650px;
  }
}







    
    


    
    
   
    
 
            




        



  
     


